:root {
  --manrope: "Manrope", sans-serif;
  --trans: 0.4s all ease;
  --accent-color: #023e7d;
}

body {
  background: #0e0e0e;
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-family: var(--manrope);
}

.all {
  padding: 80px 0;
}

body * {
  box-sizing: border-box;
}

p {
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 1.4;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card {
  width: 20%;
  padding: 15px;
}

.col-12 {
  width: 100%;
  padding: 0 15px;
}

.card .img img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card .inner {
  height: 100%;
  background: #141414;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

img {
  max-width: 100%;
}

.card span {
  vertical-align: middle;
}

.card h3 {
  margin-top: 0;
}

.card .details {
  padding: 15px;
}

.card .details {
  font-size: 14px;
}

form {
  display: flex;
}

form input {
  width: 80%;
  border: none;
  height: 50px;
  padding: 0 12px;
  outline: none;
  color: #000;
  font-family: var(--manrope);
}

.default {
  background: var(--accent-color);
  transition: var(--trans);
  border: none;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form button {
  width: 20%;
  height: 50px;
  cursor: pointer;
}

form button:hover {
  background: #141414;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.errorMsg {
  margin-top: 20px;
  font-size: 30px;
}
